@import "bootstrap/dist/css/bootstrap.min.css";

.root {
  --primary: #000000;
  --secondary: #411574;
  --warning: #fdba31;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carouselCaption {
  font-weight: 700;
  font-size: 18px;
}
